* {
    margin: 0%;
    padding: 0%;
}

.fuente {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #fdfdfd;
}

@media only screen and (min-width: 100px) {
    .contenedorDiaYNoche {
        margin-left: 5px;
        margin-top: 5px;
        display: flex;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        transition: 0.3s;
        opacity: 0.6;
    }

    .contenedorDiaYNoche:hover {
        opacity: 1;
        scale: 1.1;
    }

    .hero {
        display: flex;
        flex-direction: column;
        height: 15rem;
        justify-content: center;
        text-align: center;
        padding: 0rem 0.5rem;
    }

    .hero h1 {
        color: #6200ee;
    }

    .hero h2 {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .hero p{
        font-weight: 300;
    }

    .icono {
        display: flex;
        justify-content: center;
        align-items: top;
        height: 8rem;
    }

    .icono-img {
        width: 6rem;
        height: 6rem;
        background-color: #6200ee;
        border-radius: 50px;
    }
    .tecnologias{
        text-align: center;
        height: 10rem;
        display: flex;
        flex-direction: column;
    }
    .titulosSecciones h2{
        color: rgb(10, 10, 10);
        border-bottom: 0.1rem solid;
        border-color: rgba(99, 0, 238, 0.5);
        font-weight: 400;
    }

    .proyectos{
        text-align: center;
        height: 20rem;
        display: flex;
        flex-direction: column;
    }

    .contacto{
        text-align: center;
        height: 10rem;
        display: flex;
        flex-direction: column;
    }
    .links-redes{
        display: flex;
        justify-content: center;
    }
    .links-redes svg{
        margin:  1rem 0.5rem;
        border: rgba(99, 0, 238, 0.637) 0.2rem solid;
        border-radius: 50px;
        padding: 0.5rem;
        transition: 0.3s;
    }
    .links-redes svg:hover{
        scale: 1.1;
        border: rgba(99, 0, 238, 0.801) 0.2rem solid;
    }

    .agradecimiento{
        text-align: center;
        margin-bottom: 1rem;
        color: #6200ee;
    }
}